
h1 #site-title{
  color: grey;
  font-family: verdana;
  text-align: center;
}
h1#article-title{
  font-size: 48px;
}
h2{
  color: grey;
  font-family: verdana;
  text-align: center;
}
h2 img{
  text-align: center;
}
p{
  background: #f6f2f9;
  text-align: left;
}
figure{
  border: 1 px solid black;
  padding: 30 px;
  padding-bottom: 24 px;
}
figure img
{
  max-width: 100%
  width: 80%;
  height: auto;
  margin-bottom: 12 px;
}

figure.main-image{
  background: PaleVioletRed;
  border-color: MediumYellow;
  color: white;
}

figure.section-image{
  float: right;
  max-width: 60%;
  margin-left: 20 px;
  margin-bottom: 32 px;
  max-width: 320 px;
}
figure.section-image.odd{
  float: right;
  margin-left: 20 px;
}

figure.section-image.even{
  float: left;
  margin-right: 20 px;
}
p img{
  float: right;
  max-width: 60%;
  margin-left: 20 px;
  margin-bottom: 32 px;
}

nav ul{
  background-color: #DFC7F1;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  border: 1px solid MediumVioletRed;
}


nav ul li a{
  color: #1B062B;
  text-decoration: none;
  padding: 8px;
  border-bottome: 1px solid #2D0748;
  display: block;
}
nav ul li a:hover{
  background-color:#F3F181;
}

nav ul li:last-child a {
  border-bottom:none;
}
